* {
    margin: 0;
}

.nav-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.815);


}

.nav-bar h1 {
    color: white;
    font-family: cursive;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.nav-bar li {
    text-decoration: none;
    color: white;
    list-style: none;
}

/* .nav-list {
    justify-content: left;
    text-decoration: none;
    gap: 15px;
} */

.nav-list a {
    display: flex;
    padding: 20px;
    align-content: space-evenly;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}

.text-container {
    width: 20%;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 90%;
}

.hero-image {
    justify-content: right;
}

/* Welcome section */

.welcome-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.welcome-image {
    width: 100%;
}

.welcome-image img {
    width: 85%;
    padding-left: 7rem;
}

.welcome-msg {
    padding-right: 10rem;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* recent work section */

.work {
    padding-left: 3rem;
    padding-right: 6rem;

}

.welcome-msg h5 {
    padding-bottom: 1rem;
}

.welcome-msg h2 {
    padding-bottom: 3rem;
}


.work h5 {
    color: gray;
    font-family: sans-serif;
    padding-bottom: 1rem;
}

.work h3 {
    font-family: sans-serif;
    padding-bottom: 3rem;
}

.work {
    width: 100%;
    padding-bottom: 1rem;
}

.work-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    padding-right: 60px;

}

.work-image img {
    width: 100%;
    border-radius: 5%;
}

.work-image2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    padding-left: 5rem;
}

.work-image2 img {
    width: 90%;
    border-radius: 15%;
}

.blog-area {
    padding: 30px;
    padding-top: 7rem;
}

.blog-area h5 {
    color: rgb(80, 79, 79);
    font-family: sans-serif;
    padding-bottom: 15px;
}

.blog-area h4 {
    font-family: sans-serif;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


}

.blog-image {
    width: 100%;
    align-content: center;
}

.blog-image img {
    width: 70%;
    justify-content: center;
    border-radius: 15%;
    padding-bottom: 2rem;
}
.blog-image p{
    padding-bottom: 5%;
}
.blog-image a{
    color: red;
    text-decoration: none;
}



/* get in touch section */
.touch {
    background-color: gray;
    border-radius: 15px;
    padding: 30px;
    padding-right: 30px;
    margin-bottom: 3rem;
    margin-left: 15rem;
margin-right: 15rem;
}

.touch-area {
    display: flex;
    flex-direction: column;
}

.touch h2 {
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.touch p {
    color: white;
    font-family: sans-serif;
    padding-bottom: 2rem;
}

.button {
    width: 90px;
    background-color: black;
    color: white;
    border-radius: 20%;
}


/* footer section */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;

    padding-top: 6rem;
    background-color: rgba(0, 0, 0, 0.986);
    padding-bottom: 5rem;
    padding-left: 6rem;
    align-items: center;
}


.minoca h4 {
    font-family: cursive;
    color: white;
    padding-bottom: 2rem;
}

.minoca p {
    font-family: sans-serif;
    color: gray
}

.contacts h5 {
    color: white;
}

.contacts h4 {
    font-family: sans-serif;
    color: gray;
    padding-bottom: 2rem;
}

.links h4 {
    color: white;
    font-family: sans-serif;
    padding-bottom: 2rem;
}

.links a {
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
}